/* ESTILO GERAL  */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {

  height: 100vh;
}

.interface {
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: blueviolet;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}
h2.titulo{
color: #fff;
font-size: 38px;
text-align: center;
}
h2.titulo span{
  color: blueviolet;

  }
  


/* ESTILO DO CABEÇALHO */
header {
  padding: 40px 4%;
}
/* o >. procura tudo da classe interface no header */
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #5c5a5a;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
header a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

.btn-contato button:hover {
  box-shadow: 0px 0px 8px #5c5a5a;
  transform: scale(1.05);
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
  padding: 40px 4%;
}
section .topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo-do-site h1 {
  color: #fff;
  font-size: 48px;
  line-height: 50px;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}
.topo-do-site .img-topo-site img{
position: relative;
animation: flutuar 2s ease-in-out infinite alternate;
}
.img-topo-site img{
    width: 350px;
}

@keyframes flutuar {
    0%{
        top: 0;
    }

    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES  */
section .especialidades{
  padding: 40px 4%;
}
section .especialidades .flex{
  gap: 60px;
}
.especialidades .especialidades-box{
  color: white;
  padding: 40px;
  margin-top: 25px;
  border-radius: 20px;
  transition: .2s;
}
.especialidades .especialidades-box:hover{
transform: scale(1.05);
box-shadow: 0 0 8px hsla(0, 0%, 100%, 0.353);
}
.especialidades .especialidades-box i{
  font-size: 70px;
  color:blueviolet;
 
}

.especialidades .especialidades-box h3{
  font-size: 28px;
  margin: 15px 0;
  color:white;
}